@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #ec4899;
  --color-primary-content: #ffffff;
  --color-base-100: #ffffff;
  --color-base-200: #f9f9fb;
  --color-base-300: #e4e7ea;
  --color-base-content: #343e49;
}

@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
  --color-primary: #ec4899;
  --color-primary-content: #ffffff;
  --color-base-100: #0e151d;
  --color-base-200: #1a2230;
  --color-base-300: #343e49;
  --color-base-content: #e4e7ea;
}

@theme {
  --font-sans: "Inter", "ui-sans-serif", "system-ui", "sans-serif",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
